/src/utah01/antlr-runtime-4.4.jar
/src/utah01/myone.txt
/src/utah01/utah01.tokens
/src/utah01/utah01BaseListener.java
/src/utah01/utah01Lexer.java
/src/utah01/utah01Lexer.tokens
/src/utah01/utah01Listener.java
/src/utah01/utah01Parser.java